# Binaries
bin/
*.exe
*.test

# Environment configuration
.env

# Local Uploads
uploads/*
!uploads/resumes/
!uploads/resumes/default_resume.pdf
!uploads/avatars/
!uploads/avatars/default_avatar.jpg
!uploads/logos/
!uploads/logos/default_logo.png

# OS files
.DS_Store
Thumbs.db
